/* main container */
.main-containerlog{
    display: flex;
  width: 100%;
  margin-top: 1%;
  margin-left: 1%;
}




/* container1 all classname css used here */
.card-body1log{
    background-color: #100027;
    width:100%;
    border-radius:5%;
    }

.logo1log{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    margin-left:-60% ;
    margin-top: 6%;
  }

  .mid-titlelog{
    color:  #FFFFFF;
    line-height: 1rem;
    margin-top: 10%;
    margin-left: 2rem;
    text-align: left;
    font: Plus Jakarta Sans;
  }

  .card-text1log{
    color: #B0B0B0;
    text-align: left;
    margin-left: 1rem;
    margin: 2rem;
  }

  .info1log{
    background-color: white;
    color: black;
    border-radius: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40%;
    margin-bottom: 20%;
    border-radius: 1rem;
    padding: 1rem;
  } 

  .user-infolog {
    display: flex;
    align-items: center;
  }

  .user-iconlog {
    width: 3rem; 
    height: 3rem; 
    border-radius: 50%; 
    margin-right: 10px; 
  }

  .username-infolog {
    display: flex;
    flex-direction: column;
  }

  .usernamelog {
    font-weight: bold;
    margin-top: 1.5rem;
  }
 
  .user-rolelog {
    margin-top: 5px; 
  }

.svglogo{
    margin-right: 10px; }
 
 





/* container2 css*/
.card-body2log{
    background-color:white;
    width:100%;
    border-radius: 2rem;
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;
    margin-top: 2rem;
}

.welcomelog{
  margin-top: 3rem;
}

.detailslog{
  margin-top: -1rem;
  font: Plus Jakarta Sans;
  color:#4B4B4B;
}





  /* yaha se email ka start hua ha */
  .mb-1log{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.5rem;
    margin-top: 2rem;
  }
  .form-textlog{
    color: #B0B0B0;
    font: Plus Jakarta Sans;
    font-size: 0.8rem;
  }

  .mblog{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.5rem;
    margin-top: 1.5rem;
  }

  .form-control{
    height: 2rem;
    width: auto;
  }




/* yaha se login wala ka  and */
.forgotloginlog{
  color: rgb(42, 157, 42);
  margin-top: 1rem;
  text-align: right;
  margin-right: -2rem;
  display: flex;
  justify-content: flex-end; 
 }

 .btnlog{
  color: green;

}

.Logingreenlog{
  margin-top: -1rem
}
.click{
  color:white;
  background-color: green;
  width: 75%;
  border-radius: 50px;
  text-align: center; 
}

.Logingooglelog{
  margin-top: 0rem;
}

.gogglelog{
  color:black ;
  background-color: #F4F4F4;
  margin: 0.5rem;
  width: 75%;
  border-radius: 50px;
  text-align: center;
  }

  .bottom-textlog{
    margin-top: 20rem; 
  } 

  .signuplog{
    color: green;
  }

   
  #btn{
    color: green;
  }


  
  /* icons positioning */
.goggleicon{
  display: flex;
  flex-direction: row;
}



